.pres-signup:hover {
    color: #811e68 !important;
    text-decoration: none !important;
}
.pres-btn-signup {
    width: auto;
    height: 40px;
    margin-top: 20px;
    padding: 12px 40px 12px 40px;
    background-color: #811e68;
    font-size: 16px !important;
    font-weight: bold;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.pres-btn-signup:hover {
    background-color: #53bcc2;
    color: #fff !important;
    text-decoration: none !important;
    transition: all 0.3s;
}
.pres-header-text {
    font-size: 21px;
}
.pres-title {
    font-size: 21px;
    font-weight: bold;
    color: #811e68;
}
.settings-page {
	background-color: #ffffff !important;
}
.payment-method-logo-span {
	width: 100px !important;
}
.payment-method-logo {
	height: 40px !important;
}